/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	padding: 0;
	margin: 0;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

